header{
	background-color: #7C9865;
	padding-top: 1px;
	padding-left: 4px;
	margin-left: -8px; 
	margin-right: -8px;
	margin-top: -20px;
	margin-bottom: -27px;
}

.headerText {
	color: #af0505;
	padding-bottom: 18px;
	font-size: 40px;
}

body {
	background-color: #f2f2f2;
	height: 100%;
}

.subHeading{
	padding-bottom: 15px; 
	padding-top: 15px;
	padding-left: 38px; 
	margin-left: -8px; 
	margin-right: -8px;
	border-width: 4px;
	font-size: 18px;
	font-weight: bold;
	border-top-style: solid; 
	border-bottom-style: solid; 
	border-color: #9F3505;
}

.aboutMeTitle{
	font-size: 25px;
	padding-top: 25px;
	padding-left: 30px;
	padding-bottom: 6px;
	font-weight: bold;
	color: #af0505;
}

.aboutMeText{
	font-size: 19px;
	padding-left: 30px;
	margin-bottom: 40px;
}

.countdown {
	padding-left: 30px;
}

.xmasPicSec{
	text-align: center;
	margin-bottom: 20px;
}

.xmasPic{
	width: 500px; 
	height: 500px;
}

footer{
	background-color: #7C9865;
	border-top: solid;
	border-color: #9F3505;
	margin-left: -8px; 
	margin-right: -8px;
	margin-bottom: -8px;
	padding-bottom: 25px;
	padding-top: -30px;
	right: 0;
	left: 0;
}

.footerText{
	margin-left: 30px;
	font-size: 18px;
	color: #9F3505;
	font-weight: bold;
}

.footerPicSec{
	text-align: left;
}

.footerPicLinks{
	width: 27px;
	height: 27px;
	border-style: none;
	margin: -5px;
	padding: 3px;
}
