header{
	background-color: #737373;
	padding-top: 1px;
	padding-left: 4px;
	margin-left: -8px; 
	margin-right: -8px;
	margin-top: -20px;
	margin-bottom: -22px;
}

.header {
	color: #f2f2f2;
	padding-bottom: 10px;
}

#headerPic {
	width: 140px;
	height: 80px;
	padding-left: 15px;
}

body {
	background-color: #d65353;
	height: 100%;
}

.subHeading{
	padding-bottom: 15px; 
	padding-top: 15px;
	padding-left: 38px; 
	margin-left: -8px; 
	margin-right: -8px;
	border-width: 4px;
	border-top-style: solid; 
	border-bottom-style: solid; 
	border-color: #262626;
}

#navBar{
	width: 40%;
	margin-top: -5px;
	margin-bottom: -5px;
}

a:link, a:visited {
	color: #f2f2f2;
	text-decoration: none;
}

#homeTab{
	border-right: solid;
	border-color: #262626;
	font-size: 18px;
	font-weight: bold;
	padding-right: 10px;
}

#phase10Tab{
	padding-left: 60px;
	border-right: solid;
	border-color: #262626;
	font-size: 18px;
	font-weight: bold;
}

#otherTab{
	padding-left: 60px;
	color:  #f2f2f2;
	font-size: 18px;
	font-weight: bold;
}

.aboutMeTitle{
	color: #f2f2f2;
	font-size: 25px;
	padding-top: 25px;
	padding-left: 30px;
	padding-bottom: 6px;
	font-weight: bold;
}

.aboutMeText{
	color: #f2f2f2;
	font-size: 19px;
	padding-left: 30px;
	margin-bottom: 40px;
}

.footer{
	background-color: #737373;
	border-top: solid;
	border-color: #262626;
	margin-left: -8px; 
	margin-right: -8px;
	margin-bottom: -8px;
	padding-bottom: 25px;
	padding-top: -30px;
	right: 0;
	left: 0;
}

.footerSocialText{
	margin-left: 30px;
	font-size: 18px;
	color: #f2f2f2;
	font-weight: bold;
}

.footerHostInfo{
	text-align: right;
	color: #262626;
	padding-right: 50px;
}

#footerPicSec{
	text-align: left;
	margin-left: 25px;
}

.footerPicLinks{
	width: 27px;
	height: 27px;
	border-style: none;
	margin-top: -5px;
	padding: 5px;
	padding-right: 10px;
}
