/*parts of the header*/
header{
	background-color: #737373;
	padding-top: 1px;
	padding-left: 4px;
	margin-left: -8px; 
	margin-right: -8px;
	margin-top: -20px;
	margin-bottom: -22px;
}

.header {
	color: #f2f2f2;
	padding-bottom: 10px;
}

#headerPic {
	width: 140px;
	height: 80px;
	padding-left: 15px;
	filter: invert(1);
}
/*body parts lol*/
body {
	background-color: #cccccc;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

.subHeading{
	margin-left: -8px;
	margin-right: -8px;
}
/*navigation bar parts*/
#navBar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #383838;

}

.navBar1{
	float: left;
	border-right: 1px solid;
}

.navBarLinks{
	display: block;
	text-align: center;
	padding: 15px 30px;
	text-decoration: none;
	color: #ffffff;
}

.navBarLinks:hover {
	background-color: #af2b2b;
}

/*actual body of the website*/
.aboutMeTitle{
	color: #af2b2b;
	font-size: 25px;
	padding-top: 25px;
	padding-left: 4%;
	padding-bottom: 6px;
	font-weight: bold;
}

.aboutMeText{
	color: #2d2d2d;
	font-size: 18px;
	padding-left: 4%;
	margin-bottom: 40px;
}

/*footer parts*/
.footer{
	background-color: #383838;
	margin-left: -8px; 
	margin-right: -8px;
	margin-bottom: -8px;
	padding-bottom: 35px;	right: 0; left: 0;
	padding-top: 30px;
}

#footerTable{
	padding-top: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#footerHostInfo{
	text-align: center;
	padding-left: 20px;
	color: #ffffff;
	padding-right: 50px;
}

#ryanLink{
	text-decoration: none;
	color: #ffffff;
}

#footerPicSec{
	text-align: center;
	width: 200px;
	border-right: solid;
}

#footerRow1{
	padding-left: 50%;
}

.footerPicLinks{
	width: 27px;
	height: 27px;
	border-style: none;
	margin-top: -5px;
	padding: 5px;
	padding-right: 10px;
}

#footerRow2{
	padding-top: 10px;
	padding-left: 50%;
}

#footerCopyright{
	padding-top: 18px;
	padding-right: 50px;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
}
#copyright{
	font-size: 11px;
}

@media(max-width: 700px){

}
