header{
	background-color: #b3b3b3;
	padding-top: 1px;
	padding-left: 4px;
	margin-left: -8px; 
	margin-right: -8px;
	margin-top: -20px;
	margin-bottom: -27px;
}

.headerText {
	color: #f2f2f2;
	padding-bottom: 18px;
	font-size: 40px;
}

body{
	background-color: #f2f2f2;
	margin-bottom: 0px;
}

.subHeading{
	padding-bottom: 15px; 
	padding-top: 15px;
	padding-left: 38px; 
	margin-left: -8px; 
	margin-right: -8px;
	border-width: 4px;
	border-top-style: solid; 
	border-bottom-style: solid; 
	border-color: #9F3505;
}

#navBar{
	width: 100%;
	margin-top: -5px;
	margin-bottom: -5px;
}

a:link, a:visited {
	color: #000000;
	text-decoration: none;
}

#homeTab{
	border-right: solid;
	border-color: #9F3505;
	font-size: 18px;
	font-weight: bold;
	padding-right: 10px;
}

#phase10Tab{
	padding-left: 60px;
	border-right: solid;
	border-color: #9F3505;
	font-size: 18px;
	font-weight: bold;
}

#otherTab{
	padding-left: 60px;
	color:  #000000;
	font-size: 18px;
	font-weight: bold;
}

#tbl{
	padding-top: 20px;
	margin-top: 5px;
	margin-bottom: -20px;
}

.pl{
	font-size: 20px;
	padding-bottom: 5px;
}

#tbox1{
	border-style: solid;
	width: 400px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 275px;
	left: 20px;
}
#tbox2{
	border-style: solid;
	width: 400px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 345px;
	left: 20px;
}
#tbox3{
	border-style: solid;
	width: 400px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 410px;
	left: 20px;
}
#tbox4{
	border-style: solid;
	width: 400px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 475px;
	left: 20px;
}
#tbox5{
	border-style: solid;
	width: 400px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 540px;
	left: 20px;
}
#tbox6{
	border-style: solid;
	width: 400px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 605px;
	left: 20px;
}

#rghtSdTbl{
	vertical-align: top;
}

#p10Canvas{
	border-style: solid;
}

.footer{
	background-color: #737373;
	border-top: solid;
	border-color: #9F3505;
	margin-left: -8px; 
	margin-right: -8px;
	margin-bottom: -8px;
	padding-bottom: 25px;
	padding-top: -30px;
	right: 0;
	left: 0;
}

.footerText{
	margin-left: 30px;
	font-size: 18px;
	color: #f2f2f2;
	font-weight: bold;
}

#footerPicSec{
	text-align: left;
	margin-left: 25px;
}

.footerPicLinks{
	width: 27px;
	height: 27px;
	border-style: none;
	margin-top: -5px;
	padding: 5px;
	padding-right: 10px;
}
