header{
	background-color: #737373;
	padding-top: 1px;
	padding-left: 4px;
	margin-left: -8px; 
	margin-right: -8px;
	margin-top: -20px;
	margin-bottom: -27px;
}

.headerText {
	color: #262626;
	padding-bottom: 18px;
	font-size: 40px;
}

body{
	background-color: #d65353;
	margin-bottom: 0px;
}

.subHeading{
	padding-bottom: 15px; 
	padding-top: 15px;
	padding-left: 38px; 
	margin-left: -8px; 
	margin-right: -8px;
	border-width: 4px;
	border-top-style: solid; 
	border-bottom-style: solid; 
	border-color: #262626;
}

#navBar{
	width: 40%;
	margin-top: -5px;
	margin-bottom: -5px;
}

a:link, a:visited {
	color: #f2f2f2;
	text-decoration: none;
}

#homeTab{
	border-right: solid;
	border-color: #262626;
	font-size: 18px;
	font-weight: bold;
	padding-right: 10px;
}

#phase10Tab{
	padding-left: 60px;
	border-right: solid;
	border-color: #262626;
	font-size: 18px;
	font-weight: bold;
}

#otherTab{
	padding-left: 60px;
	color:  #f2f2f2;
	font-size: 18px;
	font-weight: bold;
}

#tbl{
	padding-top: 20px;
	margin-top: 5px;
	margin-bottom: -20px;
}

.pl{
	font-size: 20px;
	padding-bottom: 0px;
}

#tbox1{
	border-style: solid;
	width: 400px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 275px;
	left: 20px;
}
#tbox2{
	border-style: solid;
	width: 400px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 345px;
	left: 20px;
}
#tbox3{
	border-style: solid;
	width: 400px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 410px;
	left: 20px;
}
#tbox4{
	border-style: solid;
	width: 400px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 475px;
	left: 20px;
}
#tbox5{
	border-style: solid;
	width: 400px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 540px;
	left: 20px;
}
#tbox6{
	border-style: solid;
	width: 400px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 605px;
	left: 20px;
}

#numBox1{
	border-style: solid;
	width: 100px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 275px;
	left: 550px;
	text-align: right;
}
#numBox2{
	border-style: solid;
	width: 100px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 345px;
	left: 550px;
	text-align: right;

}
#numBox3{
	border-style: solid;
	width: 100px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 410px;
	left: 550px;
	text-align: right;
}
#numBox4{
	border-style: solid;
	width: 100px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 475px;
	left: 550px;
	text-align: right;
}
#numBox5{
	border-style: solid;
	width: 100px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 540px;
	left: 550px;
	text-align: right;
}
#numBox6{
	border-style: solid;
	width: 100px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 605px;
	left: 550px;
	text-align: right;
}
#ttlBox1{
	border-style: solid;
	width: 100px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 275px;
	left: 750px;
	text-align: right;
}
#ttlBox2{
	border-style: solid;
	width: 100px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 345px;
	left: 750px;
	text-align: right;
}
#ttlBox3{
	border-style: solid;
	width: 100px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 410px;
	left: 750px;
	text-align: right;
}
#ttlBox4{
	border-style: solid;
	width: 100px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 475px;
	left: 750px;
	text-align: right;
}
#ttlBox5{
	border-style: solid;
	width: 100px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 540px;
	left: 750px;
	text-align: right;
}
#ttlBox6{
	border-style: solid;
	width: 100px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 605px;
	left: 750px;
	text-align: right;
}

#ntrBttn{
	border-style: solid;
	width: 150px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 670px;
	left: 525px;
	text-align: center;
}

#clrBttn{
	border-style: solid;
	width: 150px;
	height: 45px;
	font-size: 25px;
	position: absolute;
	top: 670px;
	left: 725px;
	text-align: center;
}

#rghtSdTbl{
	color: #f2f2f2;
	line-height: 47px;
	vertical-align: top;
	padding-left: 30px;
}

#p10Canvas{
	border-style: solid;
}

.footer{
	background-color: #737373;
	border-top: solid;
	border-color: #262626;
	margin-left: -8px; 
	margin-right: -8px;
	margin-bottom: -8px;
	padding-bottom: 25px;
	padding-top: -30px;
	right: 0;
	left: 0;
}

.footerSocialText{
	margin-left: 30px;
	font-size: 18px;
	color: #f2f2f2;
	font-weight: bold;
}

.footerHostInfo{
	text-align: right;
	color: #262626;
	padding-right: 50px;
}

#footerPicSec{
	text-align: left;
	margin-left: 25px;
}

.footerPicLinks{
	width: 27px;
	height: 27px;
	border-style: none;
	margin-top: -5px;
	padding: 5px;
	padding-right: 10px;
}
