header{
	background-color: #737373;
	padding-top: 1px;
	padding-left: 4px;
	margin-left: -8px; 
	margin-right: -8px;
	margin-top: -20px;
	margin-bottom: -27px;
}

.headerText {
	color: #f2f2f2;
	padding-bottom: 18px;
	font-size: 40px;
	margin-left: 1.2%;
	font-weight: lighter;
}

#headerPic {
	width: 140px;
	height: 80px;
	padding-left: 15px;
}

body {
	background-color: #cccccc;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

.subHeading{
	margin-left: -8px;
	margin-right: -8px;
}

#navBar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #383838;

}

.navBar1{
	float: left;
	border-right: 1px solid;
}

.navBarLinks{
	display: block;
	text-align: center;
	padding: 14px 25px;
	text-decoration: none;
	color: #ffffff;
}

.navBarLinks:hover {
	background-color: #af2b2b;
}

.podcastSection{
	margin-left: 6%;
	margin-top: 20px;
}

.podcastTitle{
	color: #2d2d2d;
	font-size: 20px;
	text-decoration: underline;
}

.podcastDescrip{
	color: #2d2d2d;
	font-size: 17px;
	margin-top: -10px;
}

.podcastPlayer{
	padding-top: 13px;
}

.footer{
	background-color: #737373;
	border-top: solid;
	border-color: #262626;
	margin-left: -8px; 
	margin-right: -8px;
	margin-bottom: -8px;
	padding-bottom: 25px;
	padding-top: -30px;
	right: 0;
	left: 0;
}

#footerTable{
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#footerHostInfo{
	text-align: center;
	padding-left: 20px;
	color: #262626;
	padding-right: 50px;
}

#ryanLink{
	text-decoration: none;
	color: #262626;
}

#footerPicSec{
	text-align: center;
	width: 200px;
	border-right: solid;
}

#footerRow1{
	padding-left: 50%;
}

.footerPicLinks{
	width: 27px;
	height: 27px;
	border-style: none;
	margin-top: -5px;
	padding: 5px;
	padding-right: 10px;
}

@media(max-width: 700px){

}
